<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huanghj.mp3">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 读取电话状态权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 允许访问SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序读取或写入系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity android:name=".LocalListActivity"></activity>
        <activity
            android:name=".PlayActivity"
            android:label="@string/title_activity_play" />

        <service
            android:name=".service.PlayService"
            android:enabled="true"
            android:exported="true"
            android:process="com.cstonline.test"></service>

        <activity android:name=".MusicInfoActivity"></activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppBaseTheme"></activity>
        <activity android:name=".activity.CheckUpdateActivity"></activity>
        <activity android:name=".activity.CollectActivity"></activity>
        <activity android:name=".activity.DownLoadActivity"></activity>
        <activity android:name=".activity.AboutActivity"></activity>
        <activity android:name=".activity.LoginActivity"></activity>
    </application>

</manifest>
